{% extends "layout.html" %}
  
{% block content %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js">></script> <!--Carrega jQuery-->

<div class="jumbo_other">
  <h2>Show Data</h2>
</div>
<h3>Show Data inserted into table Data!</h3>

   <!--Variável global com o prefixo para a pasta root da aplicação, para tornar dinâmico caso a aplicação mude de pasta-->
  <script type=text/javascript> 
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }}; 
  </script>

  <script type=text/javascript>
    $(function() {
      $('button').bind('click', function() {
        var dados = {{ dados|tojson }};
        var tr=[];
        for (var i = 0; i < dados.length; i++) {
          tr.push('<tr>');
          tr.push("<td>" + dados[i].id + "</td>");
          tr.push("<td>" + dados[i].firstName + "</td>");
          tr.push("<td>" + dados[i].lastName + "</td>");
          tr.push("<td>" + dados[i].phone + "</td>");
          tr.push('</tr>');
        }
        $('table').append($(tr.join('')));
      });
      return false;
    });
  </script>

<button>Get JSON data from MySQL</button>
<p>
<span id=resultado></span>
<p>
<table id="table">
    <tr>
        <th>Id</th>
        <th>Fisrt Name</th>
        <th>Last Name</th>
        <th>Phone</th>
    </tr> 
</table>
{% endblock %}